<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>RBlog Admin</title>
	<link rel="stylesheet" href="/static/admin/css/style.css" type="text/css" media="all" />
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">RBlog Admin</a></h1>
			<div id="top-navigation">
				Welcome <strong>Administrator</strong></a>
				<span>|</span>
				<a href="/admin/site">Settings</a>
				<span>|</span>
				<a href="/admin/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
				<li><a href="/admin"><span>Dashboard</span></a></li>
			    <li><a href="/admin/article" class="active"><span>Articles</span></a></li>
			    <li><a href="/admin/comment"><span>Comments</span></a></li>
			    <li><a href="/admin/site"><span>Site Config</span></a></li>
			    <li><a href="/admin/category"><span>Category</span></a></li>
			    <li><a href="/admin/guestbook"><span>Guest Book</span></a></li>
			    <li><a href="/admin/files"><span>Files</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Small Nav -->
		<div class="small-nav">
			<a href="/admin/article">Current Articles</a>
		</div>
		<!-- End Small Nav -->
		
		<!-- Message OK -->
		{{ if .MessageOK }}		
		<div class="msg msg-ok">
			<p><strong>{{ .MessageOK }}</strong></p>
			<a href="#" class="close">close</a>
		</div>
		{{ end }}
		<!-- End Message OK -->		
		
		<!-- Message Error -->
		{{ if .MessageError }}
		<div class="msg msg-error">
			<p><strong>{{ .MessageError }}</strong></p>
			<a href="#" class="close">close</a>
		</div>
		{{ end }}
		<!-- End Message Error -->
		<br />
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Current Articles</h2>
						<div class="right">
							<label>search articles</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th width="13"><input type="checkbox" class="checkbox" /></th>
								<th>Id</th>
								<th>Title</th>
								<th>Date</th>
								<th>Short Name</th>
								<th width="60" class="ac">Category</th>
								<th width="110" class="ac">Actions</th>
							</tr>
							{{ $BlogUrl := .BlogUrl }}
							{{ with .Posts }}
							{{ range . }}
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>{{ .Id }}</td>
								<td><h3><a href="{{ $BlogUrl }}/post/{{ .Shortname }}.html" target="_blank">{{ .Title }}</a></h3></td>
								<td>{{ .CreatedTime }}</td>
								<td>{{ .Shortname }}</td>
								<td>{{ .CategoryId | categoryname }}</td>
								<td><a href="#" class="ico del">Delete</a><a href="?action=update&id={{ .Id }}" class="ico edit">Edit</a></td>
							</tr>
							{{ end }}
							{{ end }}
						</table>
						
						
						<!-- Pagging -->
						<div class="pagging">
							<div class="left">Showing 1-12 of 44</div>
							<div class="right">
								<a href="#">Previous</a>
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">245</a>
								<span>...</span>
								<a href="#">Next</a>
								<a href="#">View all</a>
							</div>
						</div>
						<!-- End Pagging -->
						
					</div>
					<!-- Table -->
					
				</div>
				<!-- End Box -->
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>Add New Article</h2>
					</div>
					<!-- End Box Head -->
					
					<form action="" method="post">
						{{ .xsrfdata }}
						<!-- Form -->
						<input type="hidden" name="Id" value="{{ .Article.Id }}"> 
						<div class="form">
								<p>
									<span class="req">max 100 symbols</span>
									<label>Article Title <span>(Required Field)</span></label>
									<input name="Title" type="text" class="field size1" value="{{ .Article.Title }}" />
								</p>	
								
								<p class="inline-field">
									<label>Password <span>(Optional Field)</span></label>
									<input name="Password" type="text" class="field size3" value="{{.Article.Password }}" />
								</p>
								
								<p class="inline-field">
									<label>User <span>(Required Field)</span></label>
									<input name="User" type="text" class="field size3" value="{{ .Article.User }}" />
								</p>
								
								<p class="inline-field">
									<label>Category <span>(Required Field)</span></label>
									<select class="field" name="Category">
										{{ $article_category := .Article.CategoryId }}
										{{ with .Categories }}
										{{ range . }}
											{{ if eq .Id $article_category }}
												<option selected value="{{ .Id }}">{{ .Name }}</option>
											{{ else }}
												<option value="{{ .Id }}">{{ .Name }}</option>
											{{ end }}
										{{ end }}
										{{ end }}
									</select>
								</p>
								
								<p class="inline-field">
									<label>Short Name <span>(Required Field)</span></label>
									<input name="Shortname" type="text" class="field size1" value="{{ .Article.Shortname }}" />
								</p>
								
								<p>
									<label>Summary <span>(Optional Field)</span></label>
									<textarea style="min-width: 718px; max-width: 718px; max-height: 100px;" name="Summary" class="field" rows="10">{{ .Article.Summary }}</textarea>
								</p>
								
								<p>
									<span class="req">Markdown Syntax Supported</span>
									<label>Content <span>(Required Field)</span></label>
									<textarea style="min-width: 718px; max-width: 718px; min-height: 728px; overflow-x: scroll; overflow-y: scroll;" name="Body" class="field size1">{{ .Article.Body }}</textarea>
								</p>	
							
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
							<input type="button" class="button" value="preview" />
							<input type="submit" class="button" value="submit" />
						</div>
						<!-- End Form Buttons -->
					</form>
				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar">
				
				<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Management</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<a href="#" class="add-button"><span>Add new Article</span></a>
						<div class="cl">&nbsp;</div>
						
						<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
						<p><a href="#">Delete Selected</a></p>
						
						<!-- Sort -->
						<div class="sort">
							<label>Sort by</label>
							<select class="field">
								<option value="">Title</option>
							</select>
							<select class="field">
								<option value="">Date</option>
							</select>
							<select class="field">
								<option value="">Author</option>
							</select>
						</div>
						<!-- End Sort -->
						
					</div>
				</div>
				<!-- End Box -->
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<span class="left">&copy; 2010 - CompanyName</span>
		<span class="right">
			Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
		</span>
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>
