<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>RBlog Admin</title>
	
	<script src="/static/js/jquery-2.0.2.min.js"></script>
	
	<script src="/static/ajax_upload/jquery.js" type="text/javascript"></script>
	<script src="/static/ajax_upload/ajaxfileupload.js" type="text/javascript"></script>
	
        <script type="text/javascript">
		function check_filesize(id) {
			var upload_button = $("#buttonUpload_" + id);
			var file_input = 'fileToUpload_' + id;
			var f = document.getElementById(file_input).files;
			var size = f[0].size;
			if (size > 134217728) {
				upload_button.hide();
				alert("文件大小超过128MB!");
				return
			}
			upload_button.css("display");
			upload_button.show();
		}
	function ajaxFileUpload(id)
        {
            //starting setting some animation when the ajax starts and completes
            $("#loading_" + id)
            .ajaxStart(function(){
                $(this).show();
            })
            .ajaxComplete(function(){
                $(this).hide();
            });
            
	    var xsrf = $("input[name$='_xsrf']").val();
            $.ajaxFileUpload
            (
                {
                    data: {count: id, _xsrf: xsrf},
                    url:'/upload',
                    secureuri:false,
                    fileElementId:'fileToUpload_' + id,
					// 此处必须是JSON
                    dataType: 'JSON',
                    
                    success: function (data, status)
                    {
			data = JSON.parse(data);
                        if(typeof(data.Error) != 'undefined')
                        {
                            if(data.Error != '')
                            {
                                alert(data.Error);
                            }else
                            {
                                count = data.Message.Count;
                                filename = data.Message.Filename;
                                filesize = data.Message.Filesize;
                                var content = "";
                                content += "<div style='color: #F00;'>";
                                content += filename;
                                content += " : " + filesize;
                                content += "</div>";
                                $("#uparea_" + count).html(content);
                            }
                        }
                    },
                    error: function (data, status, e)
                    {
                        alert(e);
                    }
                }
            )
            
            return false;
         }
         
        var count = 1;
         
        function add() {
            count += 1;
            var content = "<tr id='uparea_" + count +"'><td>";
            content += "<input type='file' name='fileToUpload' id='fileToUpload_"+ count+"' class='input' onchange='check_filesize(" + count + ");' /><input type='button' id='removeButton_" + count + "' value='Remove' onclick='iremove(this)' />";
            content += "<button href='#' class='button' id='buttonUpload_" + count + "' onclick='return ajaxFileUpload(" + count +");'>上传</button>";
            content += "<img id='loading_" + count + "' src='/static/ajax_upload/loading.gif' style='display: none'";
            content += "</td></tr>";
            $("#fileArea").append(content);
        }
        
        function iremove(obj) {
            $(obj).parent().parent().remove();
        }
        
        function do_submit(args) {
            $("#main_form").submit();
        }
		
		function confirm_delete(filename, id) {
			var msg = "确实要删除 " + filename + " 吗?";
			var ret = window.confirm(msg);
			if(ret) {
				window.location = document.location.origin + document.location.pathname + "?action=delete&id=" + id;
			} else {
				return false;
			}
			
		}
        
</script>
<link rel="stylesheet" href="/static/admin/css/style.css" type="text/css" media="all" />
</head>

<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1><a href="#">RBlog Admin</a></h1>
			<div id="top-navigation">
				Welcome <strong>Administrator</strong></a>
				<span>|</span>
				<a href="/admin/site">Settings</a>
				<span>|</span>
				<a href="/admin/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
				<li><a href="/admin"><span>Dashboard</span></a></li>
			    <li><a href="/admin/article"><span>Articles</span></a></li>
			    <li><a href="/admin/comment"><span>Comments</span></a></li>
			    <li><a href="/admin/site"><span>Site Config</span></a></li>
			    <li><a href="/admin/category"><span>Category</span></a></li>
			    <li><a href="/admin/guestbook"><span>Guest Book</span></a></li>
			    <li><a href="/admin/files" class="active"><span>Files</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Small Nav -->
		<div class="small-nav">
			<a href="/admin/article">File Management</a>
		</div>
		<!-- End Small Nav -->
		
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Current Files</h2>
						<div class="right">
							<label>search articles</label>
							<input type="text" class="field small-field" />
							<input type="submit" class="button" value="search" />
						</div>
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th width="13"><input type="checkbox" class="checkbox" /></th>
								<th>ID</th>
								<th>UploadTime</th>
								<th>FileSize</th>
								<th>FileName</th>
								<th>FullPath</th>
								<th>Actions</th>
							</tr>
							
							{{ $BlogUrl := .BlogUrl }}
							{{ with .UploadFiles }}
							{{ range . }}
							<tr>
							<td>
								<input type="checkbox" class="checkbox" /></td>
								<td><h3>{{ .Id }}</h3></td>
								<td>{{date .UploadTime "Y-m-d H:i:s" }}</td>
								<td>{{ .Filesize | filesize }}</td>
								<td>{{ .Filename }}</td>
								<td><a href="/file/{{ .Hashname }}" target="_blank">{{ .Hashname }}</a></td>
								<td><a href="javascript:confirm_delete('{{ .Filename }}', '{{ .Id }}');" class="ico del">Delete</a></td>
							</tr>
							{{ end }}
							{{ end }}
						</table>
						
						
						<!-- Pagging -->
						<div class="pagging">
							{{ if .MaxUploadPage }}
							{{ $max_page := .MaxUploadPage }}
							{{ $min_page := .MinUploadPage }}
							{{ $current_page := .CurrentUploadPage }}
							{{ $prev_page := .PrevUploadPage }}
							{{ $next_page := .NextUploadPage }}
							<div class="left">Showing 1-12 of {{ .UploadCountNums }}</div>
							<div class="right">
								{{ if gt $current_page $min_page }}
									<a href="?page={{ $prev_page }}"><</a>
								{{ else }}
									<a class="disabled"><</a>
								{{ end }}
								
								<!-- 迭代所有页，如果正好是当前页，则为disabled -->
								{{ range $count, $value := .UploadsCount }}
								{{ if eq $value $current_page }}
									<a href="#" id="active_button">{{ $value }}</a>
								{{ else }}
									<a href="?page={{ $value }}">{{ $value }}</a>
								{{ end }}
								{{ end }}
			
								<!-- 如果当前页等于最大的页数 -->
								{{ if eq $current_page $max_page }}
									<a class="disabled">></a>
								{{ else if lt $current_page $max_page }}
									<a href="?page={{ $next_page }}">></a>
								{{ end }}
							</div>
							{{ end }}
						</div>
	
		
						<!-- End Pagging -->
						
					</div>
					<!-- Table -->
					
				</div>
				<!-- End Box -->
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2>Upload File</h2>
					</div>
					<!-- End Box Head -->
					
						<!-- Form -->
						<div class="form">
							<form name="form" action="" method="POST" enctype="multipart/form-data">
								{{ .xsrfdata }}
            					<div class="well" style="width: 100%;">
            					<h3>上传文件</h3>
            						<p><input class="button" type="button" id="addButon" value="增加" onclick="add()" /></p>
            						<table id="fileArea">
                						<tbody>
                						<tr id="uparea_1">
                    						<td>
                        						<input type="file" name="fileToUpload" id='fileToUpload_1' class="input" onchange="check_filesize(1)" />
                        						<button href="#" class="button" id="buttonUpload_1" onclick="return ajaxFileUpload(1);">上传</button>
                    							<img id="loading_1" src="/static/ajax_upload/loading.gif" style="display: none;" />
                    						</td>
                						</tr>
                						</tbody>
            						</table>
            					</div>
        					</form>
						</div>
						<!-- End Form -->
						
						<!-- Form Buttons -->
						<div class="buttons">
							<input type="button" class="button" value="preview" />
							<input type="submit" class="button" value="submit" />
						</div>
						<!-- End Form Buttons -->
				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
			
			<!-- Sidebar -->
			<div id="sidebar">
				
				<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Management</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<a href="#" class="add-button"><span>Upload File</span></a>
						<div class="cl">&nbsp;</div>
						
						<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
						<p><a href="#">Delete Selected</a></p>
						
						<!-- Sort -->
						<div class="sort">
							<label>Sort by</label>
							<select class="field">
								<option value="">Title</option>
							</select>
							<select class="field">
								<option value="">Date</option>
							</select>
							<select class="field">
								<option value="">Author</option>
							</select>
						</div>
						<!-- End Sort -->
						
					</div>
				</div>
				<!-- End Box -->
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		<span class="left">&copy; 2010 - CompanyName</span>
		<span class="right">
			Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
		</span>
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>
